@import './base.css';
@import 'vue-select/dist/vue-select.css';

#app {
  max-width: 1280px;
  margin: 0 1rem;
  padding: 2rem;

  font-weight: normal;
}

nav a,
.green {
  text-decoration: none;
  color: #f47d34;
  transition: 0.4s;
}

.vtl-table {
  min-width: 900px;
}

.vtl-table .vtl-thead .vtl-thead-th {
  color: #fff;
  background-color: #f47d34;
  border: 1px solid #dee2e6;
}

.vtl-table td,
.vtl-table tr {
  border: none;
}

button {
  width: 100%;
  line-height: 1.3rem;
  background-color: #f47d34;
  color: white;
  border-color: #f47d34;
}

.loading {
  min-width: 900px;
}

.update-modal .modal-vue3-footer {
  display: none !important;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-areas:
        'top top top'
        'menu main main';
    padding: 0 2rem;
  }

  .main-content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    grid-area: main;
  }
}
