@import './base.css';
@import 'vue-select/dist/vue-select.css';

#app {
  max-width: 1280px;
  margin: 0 1rem;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #f47d34;
  transition: 0.4s;
}

.vtl-table {
  min-width: 900px;
}

.vtl-table .vtl-thead .vtl-thead-th {
  color: #fff;
  background-color: #f47d34;
  border-color: #f47d34;
}
.vtl-table td,
.vtl-table tr {
  border: none;
}

.loading {
  min-width: 900px;
}

.aggregates ul {
  list-style: none;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    padding: 0 2rem;
  }

  .main-content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
  }
}
